## 23 feb

In [1]:
a=20
b=30
print(a,b,100,"end",sep=',')

20,30,100,end

In [2]:
print(10,20,30)
print(50,60,66)

10 20 30
50 60 66

In [7]:
print(10,20,30,sep=' ')  #end='\n'

10 20 30

In [33]:
print(10,20,end=' //')
print(10,55,66)

10 20 //10 55 66

In [34]:
#ifelse

In [35]:
n=43
n%2

1

In [36]:
n=43
n%2==0

False

In [39]:
n=40
if n%2==0:
    print('even')

even

In [41]:
n=41
if n%2==0:
    print('even')
else:
    print('odd')

odd

In [56]:
n=int(input("type a no:"))
if n>0:
    print('positive')
elif n<0:
    print('negative')
else:
    print('zero se bada no daba pagal')

type a no:0
zero se bada no daba pagal

In [59]:
n=int(input("type your age:"))
if n>=18:
    print('you can vote')
else:
    print ('18 sal ke hone k baad try krio')

type your age:5
18 sal ke hone k baad try krio

In [62]:
x=32
y=62
print("gurpreet is {}years old and his father is {} ".format(x,y))

gurpreet is 32years old and his father is 62

In [9]:
n=float(input (" a no:"))
if n%5 ==0.1 or n%3==0.1:
    print('sahi jwab aap jit gye 300 rupay')
else:
    print('bie')

 a no:55.1
bie

In [4]:
h=float(input('enter your work hour:'))
r=float(input('enter your rate:'))
pay =(h*r)
if h>8:
    pay=8*r+(h-8)*r*1.5
print(pay)

enter your work hour:10
enter your rate:100
1100.0

In [3]:
pay

874991.25