In [4]:
amt =int(input('enter purchasing amount'))
if amt<3000:
    bill=amt*1
    prnit(bill)
elif amt>3000 and amt<=5000:
    bill=(amt-(amt*10)/100)
    print(bill)
elif amt>5000 and amt<=10000:
    bill=(amt-(amt*15)/100 )
    print(bill)
elif amt >10000:
    bill=(amt-(amt*20)/100)
    print(bill)

enter purchasing amount8000
6800.0

In [8]:
D=[1,2,3,4]
for x in D:
    print(x)

1
2
3
4

In [7]:
D=(1,2,3,4)
for x in D:
    print(x)

1
2
3
4

In [9]:
D={1,2,3,4}
for x in D:
    print(x)

1
2
3
4

In [17]:
D={"a":200,"b":300}
for x in D.values():
    print(x)

200
300

In [13]:
D="python"
for x in D:
    print(x)

p
y
t
h
o
n

In [30]:
for i in range (50,0,-2):
    print(i,end=' ')

50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [3]:
for i in range (2,22,2):
    print(i,end=' ')

2 4 6 8 10 12 14 16 18 20

In [7]:
for i in range (1,100):
    if i%3==0 and i%5==0:
        print(i,end=" ")

15 30 45 60 75 90