In [2]:
# question no 2
r=2
a=3.147*(r**2)
print("area : ",a)

area :  12.588

In [2]:
#question no 1
days=["sunday","monday","tuesday","wednesday","thrusday","friday","saturday"]
while len(days):
    print(days)
    break

['sunday', 'monday', 'tuesday', 'wednesday', 'thrusday', 'friday', 'saturday']

In [8]:
#Find the number is positive, negative and zero.
a=0
if a>0:
    print("no is positive:")
elif a<=-1:
    print("no is negative")
else:
    print("no is zero")

no is zero

In [9]:
# 4. Print first twenty natural numbers.
for x in range (0,21):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
def table(x):
    for i in range (1,11):
        print(x*i)

table(4)

4
8
12
16
20
24
28
32
36
40

In [26]:

# x = P (1 + rt)
# A	=	final amount
# P	=	initial principal balance
# r	=	annual interest rate
# t	=	time (in years)

def simpleintr(p,r,t):
    x=p*(1+(r*t))
    return x
def vcuboid(l,b,h):
    y=l*b*h
    print(y)
       

vcuboid(4,5,6)
simpleintr(2000,1,2)

120

6000

In [28]:
l=["soap","max",4]
for i in range (len(l)):
    print(l)

['soap', 'max', 4]
['soap', 'max', 4]
['soap', 'max', 4]

In [36]:
# Create a function and Sort this list.
series=[100,45,67,23,89,0,2,87,3,10,34]
def x(v):
    x=v.sort()
    print(v)
x(series)

[0, 2, 3, 10, 23, 34, 45, 67, 87, 89, 100]

In [39]:
First= {"Apple","Banana","Cherry","Mango"}
Second= {1,2,3,4,5,6,7,8,9,10}
First.update(Second)
print(First)

{1, 2, 3, 'Cherry', 4, 5, 6, 7, 8, 9, 10, 'Banana', 'Mango', 'Apple'}

In [43]:
# 10. Join two sets
A = {1,2,3,4,5,6,7,8,}
B = {"a","b","c","d","e","f"}
s=A.union(B)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'f', 'b', 'c', 'e', 'd'}

In [56]:
# 11 Change the value “Age” of this dictionary.#Print all the values of this dictionary one by one.
student = {"Name" : "Alia","Age" :  16,"Roll_No" : 24,"School" : "XYZ"}
student["Age"]=14
print(student)

x=student.values()
print(x)

{'Name': 'Alia', 'Age': 14, 'Roll_No': 24, 'School': 'XYZ'}
dict_values(['Alia', 14, 24, 'XYZ'])

In [58]:
# 13 Return third, fourth and fifth items

days= ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
days[3:6]

('Wednesday', 'Thursday', 'Friday')

In [62]:
# Unpack this tuple with the help of * asterisk
fruits=("apple", "banana", "cherry", "strawberry", "raspberry")
z,*i=fruits
print(i)
print(z)

['banana', 'cherry', 'strawberry', 'raspberry']
apple

In [69]:
# Add “Orange” in this set with the help of constructor .
fruits ={"apple", "banana", "cherry"}
x=list(fruits)
x=list(fruits)
x.append("orange")
fruits=set(x)
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [74]:
#  16 Create a Parent class and create two functions in this parent class first function print “Gud
# Morning”, statement and second function will do multiply with the help of two variables, use here
# self and __init__ function then create child class and make two functions in this class first function
# will print a list with the help of for loop and in second function will find the exponent with two
# variables. Use Super() method here.
class parent:
    def __init__(self,f):
        self.f=f
        print("gud morning")
    def mul(self):
        a=5
        b=4
        print(a*b)
class child(parent):
    def x(self):
        l=[1,2,3,4]
        for i in l:
            print(l)
    super().__init__(f)
    def y(self,a,b):
        self.a=a
        self.b=b
        z=self.a**self.b
        print(z)

st=child()

RuntimeError: super(): no arguments