In [1]:
#que no 1
a=20
b=30
a*b

600

In [2]:
a=40
b=30
a+b

70

In [3]:
p_num=0
for i in range(1,11):
    x_num=p_num+i
    print("current no :",i,"sum=",x_num,"previous no =",p_num)
    p_num=i

current no : 1 sum= 1 previous no = 0
current no : 2 sum= 3 previous no = 1
current no : 3 sum= 5 previous no = 2
current no : 4 sum= 7 previous no = 3
current no : 5 sum= 9 previous no = 4
current no : 6 sum= 11 previous no = 5
current no : 7 sum= 13 previous no = 6
current no : 8 sum= 15 previous no = 7
current no : 9 sum= 17 previous no = 8
current no : 10 sum= 19 previous no = 9

In [10]:
a=input("enter a string :")
x=list(a)
for i in x[0::2]:
    print (i)

enter a string :akash is good boy
a
a
h
i

o
d
b
y

In [15]:
class ajay:
    def __init__(self,age,marks):
        self.age=age
        self.marks=marks
    def find(self):
        print(self.age,self.marks)
x=ajay(25,90)
x.find()

25 90